# --- BASE DE DATOS PRINCIPAL ---
IP=
PORT=
USER=
PWD=
DB=

# --- OPENAI ---
OPENAI_API_KEY=sk-

# --- ENDPOINTS ---
URL=
SUCURSALES_URL=
RELOAD_VECTORS_POST=

# --- TOKENS Y AUTENTICACIÓN ---
TOKEN_API=
TOKEN_CT=
CONTENT_TYPE=
COOKIE=
DOMINIO=
BOUNDARY=

# --- MONGO ---
MONGO_URI=
MONGO_DB=
MONGO_COLLECTION_SESSIONS=
MONGO_COLLECTION_MESSAGE_BACKUP=
MONGO_COLLECTION_PRODUCTS=
MONGO_COLLECTION_SALES=
MONGO_COLLECTION_SPECIFICATIONS=
MONGO_COLLECTION_PEDIDOS=

# --- BASE DE DATOS DEV ---
IP_DEV=
PORT_DEV=
USER_DEV=
PWD_DEV=
DB_DEV=

# --- REDIS / PODMAN ---
PODMAN_REDIS_URL=
