.env

archivos_clave/
data_pipeline/
datos/base_de_conocimientos
datos/Tutorial  - ESD
datos/Tutorial - compra en línea
datos/vectorstores/
datos/idSucursal.json
datos/productos_raw.json
datos/sucursales.csv

notebooks/
src/proyectoct.egg-info/
static/ssl/
__pycache__/